html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
        .w3-sidebar {
          z-index: 3;
          width: 350px;
          top: 43px;
          bottom: 0;
          height: inherit;
        }
        .topnav {
          overflow: hidden;
          background-color: #e9e9e9;
        }
        
        .topnav .search-container {
          float: left;
        }
        
        .topnav input[type=text] {
          padding: 6px;
          margin-top: 8px;
          font-size: 17px;
          border: none;
        }
        
        .topnav .search-container button {
          float: right;
          padding: 6px;
          margin-top: 8px;
          margin-right: 6px;
          background: #ddd;
          font-size: 17px;
          border: none;
          cursor: pointer;
        }
        
        .topnav .search-container button:hover {
          background: #ccc;
        }
        .first:hover{
          background-color: #999;
        }
        @media screen and (max-width: 600px) {
          .topnav .search-container {
            float: none;
          }
          .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 10px;
          }
          .topnav input[type=text] {
            border: 1px solid #ccc;  
          }
        }
    .date{
      margin:30px 30px;
    }
        .middle {
          position: relative;
          width: 50%;
          max-width: 500px;
          margin-left:20px;
        }
        
        .slider {
          position: relative;
          z-index: 1;
          height: 6px;
          margin: 30px 15px;
        }
        .slider > .track {
          position: absolute;
          z-index: 1;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 1px;
          background-color: #635d57;
        }
        .slider > .range {
          position: absolute;
          z-index: 2;
          left: 25%;
          right: 25%;
          top: 0;
          bottom: 0;
          border-radius: 5px;
          background-color: rgb(67, 130, 212);
        }
        .slider > .thumb {
          position: absolute;
          z-index: 1;
          width: 2px;
          height: 30px;
          background-color: #573c19;
          border-radius: 50%;
          box-shadow: 0 0 0 0 rgba(98,0,238,.1);
          transition: box-shadow .3s ease-in-out;
        }
        .slider > .thumb.left {
          left: 25%;
          transform: translate(-15px, -10px);
        }
        .slider > .thumb.right {
          right: 25%;
          transform: translate(15px, -10px);
        }
        .slider > .thumb.hover {
          box-shadow: 0 0 0 20px rgba(98,0,238,.1);
        }
        .slider > .thumb.active {
          box-shadow: 0 0 0 40px rgba(98,0,238,.2);
        }
        
        input[type=range] {
          position: absolute;
          pointer-events: none;
          -webkit-appearance: none;
          z-index: 2;
          height: 10px;
          width: 100%;
          opacity: 0;
        }
        input[type=range]::-webkit-slider-thumb {
          pointer-events: all;
          width: 30px;
          height: 30px;
          border-radius: 0;
          border: 0 none;
          background-color: red;
          -webkit-appearance: none;
        }
        .poisk{
          margin-left:14%;
          width: 200px;
          padding: 7px;
          margin-top: 8px;
          margin-right: 5%;
          background: #ddd;
          font-size: 17px;
          border: none;
          cursor: pointer;
        }
        
        .poisk:hover{
          background-color: white;

        }
        table, th, td {
          border: none;
          
        }
        th, td {
          padding: 5px;
          text-align: left;    
        }
        table{
          width:100%;
          margin:4px 5px;
        }
        .rs-container * {
          box-sizing: border-box;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
      }
      .rs-container {
          font-family: Arial, Helvetica, sans-serif;
          height: 45px;
          position: relative;
      }
      .rs-container .rs-bg, .rs-container .rs-selected {
          background-color: #eee;
          border: 1px solid #ededed;
          height: 10px;
          left: 0;
          position: absolute;
          top: 5px;
          width: 100%;
          border-radius: 3px;
      }
      .rs-container .rs-selected {
          background-color: #00b3bc;
          border: 1px solid #00969b;
          transition: all 0.2s linear;
          width: 0;
      }
      .rs-container.disabled .rs-selected {
          background-color: #ccc;
          border-color: #bbb;
      }
      .rs-container .rs-pointer {
          background-color: #fff;
          border: 1px solid #bbb;
          border-radius: 4px;
          cursor: pointer;
          height: 20px;
          left: -10px;
          position: absolute;
          top: 0;
          transition: all 0.2s linear;
          width: 30px;
          box-shadow: inset 0 0 1px #FFF, inset 0 1px 6px #ebebeb, 1px 1px 4px rgba(0, 0, 0, 0.1);
      }
      .rs-container.disabled .rs-pointer {
          border-color: #ccc;
      }
      .rs-container .rs-pointer::before,
      .rs-container .rs-pointer::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 9px;
          background-color: #ddd;
          left: 12px;
          top: 5px;
      }
      .rs-container .rs-pointer::after {
          left: auto;
          right: 12px;
      }
      .rs-container.disabled .rs-pointer {
          cursor: default;
      }
      .rs-container.sliding .rs-selected,
      .rs-container.sliding .rs-pointer {
          transition: none;
      }
      .rs-container .rs-scale {
          left: 0;
          position: absolute;
          top: 5px;
          white-space: nowrap;
      }
      .rs-container .rs-scale span {
          float: left;
          position: relative;
      }
       .rs-container .rs-scale span::before {
          background-color: #ededed;
          content: "";
          height: 8px;
          left: 0;
          position: absolute;
          top: 10px;
          width: 1px;
      }
      .rs-container.rs-noscale span::before {
          display: none;
      }
      .rs-container.rs-noscale span:first-child::before,
      .rs-container.rs-noscale span:last-child::before {
          display: block;
      }
      .rs-container .rs-scale span:last-child {
          margin-left: -1px;
          width: 0px;
      }
      .rs-container .rs-scale span ins {
          color: #333;
          display: inline-block;
          font-size: 12px;
          margin-top: 20px;
          text-decoration: none;
      }
      .rs-container.disabled .rs-scale span ins {
          color: #999;
      }
      .rs-tooltip {
          color: #333;
          width: auto;
          min-width: 60px;
          height: 30px;
        position: relative;
        background: #fff;
        border: 1px solid #00969b;
          border-radius: 3px;
          position: absolute;
          transform: translate(-50%, -35px);
          left: 13px;
          text-align: center;
          font-size: 13px;
          padding: 6px 10px 0;
      }
      .rs-container.disabled .rs-tooltip {
          border-color: #ccc;
          color: #999;
      }
      .slider-container {
        width: 90%;
        max-width: 500px;
        margin: 0 auto 50px;
    }
    /* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
